name: Build and deploy AppImage

on: [push, pull_request]

env:
  TERM: xterm-256color

jobs:
  appimage:
    strategy:
      fail-fast: false
      matrix:
        ARCH: [x86_64]

    name: Build AppImage for ${{ matrix.ARCH }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt-get install -y desktop-file-utils
      - name: Build AppImage
        run: |
          export ARCH="${{ matrix.ARCH }}"
          bash -xe ci/build-appimage.sh
      - name: Archive artifacts
        uses: actions/upload-artifact@v6
        with:
          name: AppImage ${{ matrix.ARCH }}
          path: appimagelint*.AppImage*

  upload:
    name: Create release and upload artifacts
    runs-on: ubuntu-latest
    needs:
      - appimage
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
      - name: Inspect directory after downloading artifacts
        run: ls -alFR
      - name: Create release and upload artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            wget -q https://github.com/TheAssassin/pyuploadtool/releases/download/continuous/pyuploadtool-x86_64.AppImage
            chmod +x pyuploadtool-x86_64.AppImage
            ./pyuploadtool-x86_64.AppImage appimagelint*.AppImage*
